h5.card-title {
    color: #000000;
}

p.card-text {
    color: #d95138;
    font-family: monospace;
    font-size: 24px;
    padding-bottom: 8px;
}

.actions {
    margin-bottom: 16px;
}

.actions button {
    color: white;
    padding: 8px 16px 12px 16px;
    border-radius: 8px;
}