.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mis estilos */

body {
  background-color: #101012;
  color: #FFF;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #e44331;
}

/* Nav */

#navbar-menu, #navbar-login {
  display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style-type: none;
    padding-inline-start: 0;
}

.menu li {
    display: inline-block;
    border: 1.5px solid #FFF;
    vertical-align: middle;
    border-radius: 32px;
    padding: 8px 16px 10px 16px;
    margin: 0 8px;
}

.menu li.cta-destacado {
  display: inline-block;
  background-color: #FFF;
  font-weight: bold;
  color: #000;
  vertical-align: middle;
  border-radius: 32px;
  padding: 8px 16px 10px 16px;
  margin: 0 8px;
}

/* Contenido */

h2 {
  text-align: center;
  margin: 24px 0;
}